<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gardenlink_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_gardenlink"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_gardenlink"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/signUp_activity"
            android:theme="@style/GardenLink" />
        <activity
            android:name=".activities.MyAccountActivity"
            android:label="@string/myAccount" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/home" />
        <activity
            android:name=".activities.WalletActivity"
            android:label="@string/wallet" />
        <activity
            android:name=".activities.MessagingActivity"
            android:label="@string/messaging" />
        <activity
            android:name=".activities.MyLeasingActivity"
            android:label="@string/myLeasing" />
        <activity
            android:name=".activities.MyLandsActivity"
            android:label="@string/myLands" />
        <activity
            android:name=".activities.ConnectionActivity"
            android:label="@string/connexion_activity" />
        <activity
            android:name=".activities.ForgottenPasswordActivity"
            android:label="@string/forgotten_password_activity" />

        <activity android:name=".activities.SearchResultsActivity"
            android:label="@string/searchResultActivity"/>
    </application>

</manifest>